body {
    background: aqua;
}

.completed {
    color: gray;
    text-decoration: line-through;
}

#container {
    margin: auto;
    background: lightgrey;
    width: 360px;
    border: 1px solid black;
}

h1 {
    padding: 20px;
}

input {
    margin: 20px;
    padding: 5px;
}

li:nth-last-child(1) {
    padding-bottom: 25px;
}