body {
    background: aqua;
}

.completed {
    color: gray;
    text-decoration: line-through;
}

#container {
    margin: auto;
    background: lightgrey;
    width: 360px;
    border: 1px solid black;
}

h1 {
    padding-left: 20px;
}

input {
    margin-left: 20px;
    padding: 3px;
}

li:nth-last-child(1) {
    padding-bottom: 10px;
}